.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;

  &__logo {
    height: 32px;
    margin-right: 30px;
    border-bottom: none;

    @media (hover:hover) {
      &:hover {
        border-bottom: inherit;
      }
    }
  }

  &__input {
    width: 42vw;
    margin-right: 20px;
    color: #FFFFFF !important;
  }

  &__link {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
  }

  &__badge {
    background: transparent;
    border: none !important;
    position: absolute;
    display: flex;
    align-items: center;
    width: 24px;
    height: 24px;
    top: 11px;
    left: 10px;
    color: #FFFFFF80;
  }

  &__btn {
    display: flex;
    padding: 0 !important;
    border: none;
    background-color: transparent !important;
    transition: none;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    cursor: pointer;

    @media (hover:hover) {
      &:hover {
        background-color: inherit !important;
        color: inherit !important;
      }
    }

    &:disabled {
      background-color: inherit !important;
      color: inherit !important;
    }

    &.btn--mobile {
      display: none;
    }

    &.btn--close {
      position: absolute;
      opacity: 0;
      visibility: hidden;
      top: 12px;
      right: 35px;
      color: #FFFFFF80;
      transition:
        opacity .5s ease-in-out,
        visibility .5s ease-in-out,
      ;

      &.active {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__list {
    display: flex;
    flex-direction: row;
    margin-right: 30px;
  }

  &__item {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__link--mobile {
    display: none;
  }
}