.drop-down {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  top: 58px;
  right: 18px;
  width: 35vw;
  z-index: 99;
  border-radius: 8px;
  background-color: #393B3C;
  transition:
    opacity .2s ease-in-out,
    visibility .2s ease-in-out;

  &.active {
    opacity: 1;
    visibility: visible;
  }

  &__item {
    max-height: 200px;
    height: 100%;
    padding: 15px 10px;
  }

  &__link {
    display: flex;
    align-items: center;
  }

  &__img {
    width: 42px;
    height: 50px;
    margin-right: 30px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__top {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
  }

  &__header {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
  }

  &__rating {
    margin-right: 20px;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    max-height: fit-content;
    padding: 4px 2px;
  }
}

@media (max-width: 1000px) {
  .drop-down {
    min-width: fit-content;
    left: 0;
    top: 70px;

    &__list {
      display: flex;
      overflow-x: auto;
      padding: 20px;
      height: 100%;
      width: calc(100vw - 40px);
    }

    &__item {
      padding: unset;
      max-height: 330px;
    }

    &__link {
      width: 220px;
      flex-direction: column;
      align-items: baseline;
    }

    &__img {
      width: 158px;
      height: 206px;
      margin-right: unset;
    }

    &__wrapper {
      align-items: baseline;
    }

    &__top {
      flex-wrap: wrap;
    }
  }
}