.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 40px;
  border-radius: 24px;
  background-color: #FFFFFF;

  &__logo {
    max-width: 157px;
    height: 35px;
    margin-bottom: 20px;
  }

  &__header {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
  }

  &__text {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    text-align: center;
  }

  &__form {
    display: flex;
    flex-direction: column;

    & .button:not(:last-child) {
      margin-bottom: 10px;
    }

    & .input:not(:last-child) {
      margin-bottom: 10px;
    }

    & .badge {
      color: #00000066;
    }
  }

  &__error {
    color: red;
  }

  &__input {
    border: 1px solid #00000066;
    padding: 11px 40px;
    background-color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  &__btn {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;

    &.round {
      color: #000000;
      background-color: transparent;
    }
  }
}

@media (max-width: 1000px) {
  .login {
    padding: 20px 20px;
  }
}