.movie {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 20px;
  min-height: 680px;
  gap: 20px;

  &__img {
    object-fit: cover;
    border-radius: 16px;
  }
}


.content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
  }

  &__top,
  &__middle {
    margin-bottom: 30px;
  }

  &__top {
    display: flex;
    flex-direction: row;
    color: #FFFFFFB2;
    font-size: 18px;
  }

  &__year {
    margin-right: 20px;

  }

  &__rating {
    margin-right: 20px;
    color: #FFFFFF;
  }

  &__genres {
    max-width: 200px;
    overflow: auto;
    margin-right: 20px;
    white-space: nowrap;
  }


  &__description {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
  }

  &__btn {
    max-width: max-content;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
  }

  &__bottom {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;

    .btn--icon {
      display: flex;
      justify-content: center;
      padding: 15px 20px;

      &.active svg path {
        fill: transparent;
        stroke: white;
      }
    }
  }

}

.details {
  grid-column: 2 span;

  &__header {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
  }
}

.table {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;

  &__row {
    display: grid;
    grid-template-columns: max-content 1fr;
    margin-bottom: 15px;
  }

  &__wrapper {
    min-width: 320px;
    display: flex;
  }

  &__head {
    white-space: nowrap;
    margin-right: 10px;
  }

  &__bullets {
    width: 100%;
    border-bottom: 1px dotted #FFFFFF80;
    margin-right: 10px;
    margin-bottom: 5px;
  }
}


@media (max-width: 1000px) {
  .movie {
    grid-template-columns: auto;

    &__img {
      order: 0;
      margin-bottom: 40px;
    }
  }

  .content {
    order: 1;

    &__top {
      font-size: 14px;
    }

    &__year,
    &__rating,
    &__genres,
    .genres__item:not(:last-child) {
      margin-right: 10px;
    }

    &__genres {
      max-width: 100px;
    }

    &__title {
      margin-bottom: 10px;
      font-size: 24px;
      line-height: 32px;
    }

    &__description {
      font-size: 18px;
    }

    &__middle {
      margin-bottom: 10px;
    }

    &__btn {
      padding: 15px 20px;
    }

    &__btn:nth-child(1) {
      max-width: 250px;
      width: 100%;
    }
  }

  .details {
    order: 3;
    grid-column: unset;

    &__header {
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
    }
  }

  .table {

    &__row {
      display: flex;
      flex-direction: column;
    }

    &__wrapper {
      min-width: auto;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #FFFFFF80;
    }

    &__bullets {
      display: none;
    }
  }
}