.account {
  &__header {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
  }

  &__menu {
    display: flex;
    column-gap: 40px;
    margin-bottom: 50px;
  }

  &__btn {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;

    &.active {
      border-bottom: 1.5px solid #DC5DFC;
    }
  }
}

.info {
  &__context {
    display: flex;
    flex-direction: row;
  }

  &__context:nth-child(1) {
    margin-bottom: 30px;
  }

  &__context:nth-child(2) {
    margin-bottom: 50px;
  }

  &__head {
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  &__text {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
  }

  &__initials {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
  }

  &__badge {
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: #FFFFFF80;
  }

  &__btn {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
  }
}

@media (max-width: 1000px) {
  .account {
    &__header {
      font-size: 24px;
      line-height: 32px;
    }

    &__menu {
      column-gap: 20px;
    }
  }

}