.movie-list {
  padding: 20px 0;
  min-height: 258px;
  text-align: center;

  &__header {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
  }

  &__wrapper {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 30px;
  }

  &__back {
    display: flex;
    justify-content: left;
    align-items: center;
  }

  &__more {
    margin-top: 40px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(224px, 1fr));
    grid-auto-rows: 336px;
    column-gap: 30px;
    row-gap: 50px;
  }

  &__btn.round {
    opacity: 0;
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 30px;
    transition: opacity .3s ease-in-out;
    color: #000000;
    top: -15px;
    right: -15px;
  }

  &__item {
    position: relative;
    width: 224px;
    border-radius: 16px;
    transition: border .3s ease-in-out;
    border: 1px solid #FFFFFF40;
    box-shadow: 0px 0px 80px 0px #FFFFFF54;

    &:hover {
      border: 1px solid #FFFFFF;

      .movie-list__btn.round {
        opacity: 1;
      }
    }
  }

  &__link {
    display: block;
    width: 100%;
    height: 100%;
  }

  &__img {
    object-fit: cover;
    border-radius: 16px;
  }

  &__badge {
    position: absolute;
    left: -20px;
    top: -10px;
    padding: 8px 24px;
    border-radius: 50px;
    background-color: #FFFFFF;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #6A5DC2;

  }
}

@media (max-width: 1000px) {
  .movie-list {

    &__list {
      row-gap: 20px;
      width: 100vw;
      overflow-x: auto;
      padding: 20px 20px;

      &.column {
        grid-template-columns: repeat(auto-fit, minmax(335px, 1fr));
        grid-auto-rows: 502px;

        .movie-list__item {
          width: 335px;
          grid-row: unset;
          max-height: fit-content;
        }
      }
    }

    &__btn.round {
      opacity: 1;
    }


    &__item {
      grid-row: 1;
      margin: 0 auto;
      box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.3294117647);
    }

    &__header {
      font-size: 24px;
      line-height: 32px
    }
  }
}