.video {
  &__wrapper {
    position: relative;
    width: 960px;
    height: 540px;
    overflow: hidden;
    background: #393B3C;

    & .loader {
      position: absolute;
      top: 50%;
      left: 50%;
    }

    // &>youtube-video {
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    // }
  }


  &__player {
    width: 100%;
    height: 100%;
  }

  &__badge {
    position: relative;
    height: 100%;

    &>* {
      position: absolute;
      left: 50%;
      top: 50%;
    }
  }
}